<!DOCTYPE html>
<html>
    <head>
        <title>Mini Maze</title>
        {% load static %}
        <!-- Jquery -->
        <script src="{% static 'jquery/jquery.js' %}"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/npm.js' %}"></script>

        {% if players_left != 0 %}
        <script src="{% static 'javascript/screen_waiting.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/screen_waiting.css' %}">
        {% else %}
        <script src="{% static 'javascript/screen_maze.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/screen_maze.css' %}">
        {% endif %}
    </head>
    <body>
        {% if players_left != 0 %}
        <section id="waiting">
            <h1>Waiting for {{ players_left }} more players to join...</h1>
        </section>
        {% else %}
        <section id="maze">
            <table>
                {% for y in height %}
                <tr>
                    {% for x in width %}
                    <td></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        <h1 id="current-move"></h1>
        {% endif %}
    </body>
</html>