<!DOCTYPE html>
<html>
    <head>
        <title>Mini Maze</title>
        {% load static %}
        <!-- Quattrocento Sans -->
        <style>
        @font-face {
          font-family: 'Quattrocento Sans';
          font-style: normal;
          font-weight: 400;
          src: local('Quattrocento Sans'), local('QuattrocentoSans'), url({% static 'fonts/quattrocento-sans.woff2'%}) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
        }
        </style>

        <!-- Jquery -->
        <script src="{% static 'jquery/jquery.js' %}"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/npm.js' %}"></script>

        {% if players_left != 0 %}
        <script src="{% static 'javascript/screen_waiting.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/screen_waiting.css' %}">
        {% else %}
        <script src="{% static 'javascript/screen_maze.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/screen_maze.css' %}">
        {% endif %}
    </head>
    <body>
        {% if players_left != 0 %}
        <section id="waiting">
            <h1>Waiting for</h1>
            <h1 id="players-left">{{ players_left }}</h1>
            <h1>more <span id="players-text">player{{ players_left|pluralize }}</span>!</h1>
        </section>
        {% else %}
        <div class="center">
            <div class="sidebar">
                <section id="legend">
                    <table>
                        <tbody>
                            <tr>
                                <td class="player" id="player1"></td>
                                <td>Player 1</td>
                            </tr>
                            <tr>
                                <td class="player" id="player2"></td>
                                <td>Player 2</td>
                            </tr>
                            <tr>
                                <td class="player" id="player3"></td>
                                <td>Player 3</td>
                            </tr>
                            <tr>
                                <td class="player" id="player4"></td>
                                <td>Player 4</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section id="player-move">
                    <h1>Player</h1>
                    <h1 id="player-move-text"></h1>
                </section>
            </div>
            <section id="maze">
                <table>
                    {% for y in height %}
                    <tr>
                        {% for x in width %}
                        <td></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <h1 id="current-move"></h1>
        </div>
        {% endif %}
    </body>
</html>